In [ ]:
# TASK 1: Capitalize all letters of the given string expression. 
# Replace comma and period with space and separate word by word.

In [1]:
text = "The goal is to turn data into information, and information into insight."

text.upper().replace(",", " ").replace(".", " ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [ ]:
# TASK 2: Write a function that takes a list as argument, 
#assigns the odd and even numbers in the list to separate lists and returns these lists.

In [9]:
l = [2,13,18,93,22]

def func(list):
    even_list = []
    odd_list = []
    for num in list:
        if num % 2 == 0:
            even_list.append(num)
        else:
            odd_list.append(num)
    return even_list, odd_list

func(l)

([2, 18, 22], [13, 93])

In [ ]:
# TASK 3: The list below contains the names of the students who ranked in the engineering and medical faculties.
# The first three students represent the ranking of engineering students and 
# the last three students represent the ranking of medical students.
# Print the student rankings by faculty using Enumarate.

In [10]:
students = ["Ali","Veli","Ayse","Talat","Zeynep","Ece"]

for index, student in enumerate(students):
    if index < 3:
        index += 1
        print("Engineering faculty ", index, ". student: ", student)
    else:
        index += 1
        print("Medical faculty ", index, ". student: ", student)

Engineering faculty  1 . student:  Ali
Engineering faculty  2 . student:  Veli
Engineering faculty  3 . student:  Ayse
Medical faculty  4 . student:  Talat
Medical faculty  5 . student:  Zeynep
Medical faculty  6 . student:  Ece

In [ ]:
# TASK 4: 3 lists are given below. 
# The lists contain the code, credit and quota information of a course respectively. 
# Print the course information using Zip.

In [13]:
course_code = ["CMP1005","PSY1001","HUK1005","SEN2204"]
credit = [3,4,2,4]
quota = [30,75,150,25]

for course_code, credit, quota in zip(course_code, credit, quota):
    print(f"The quota for the course coded {course_code} with {credit} credit is {quota}.")

The quota for the course coded CMP1005 with 3 credit is 30.
The quota for the course coded PSY1001 with 4 credit is 75.
The quota for the course coded HUK1005 with 2 credit is 150.
The quota for the course coded SEN2204 with 4 credit is 25.

In [ ]:
# TASK 5: 2 sets are given below.
# You are expected to define a function that will print the common elements of set 1 
# if it includes set 2 and the difference of set 2 from set 1 if it does not.

In [14]:
set1 = set(["data", "python"])
set2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def func_about_set(set1, set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))
        
func_about_set(set1,set2)

{'miuul', 'lambda', 'qcut', 'function'}