# Interview Questions

In [ ]:
#("hi my name is john and i am learning python") -> ("Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN")

In [5]:
def alternating(string):
    new_string = ""
    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()
    print(new_string)
    
alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [ ]:
# 2.way(Using enumerate)

In [7]:
def alternating_with_enumerate(string):
    new_string = ""
    for i, letter in enumerate(string):
        if i % 2 == 0:
            new_string += letter.upper()
        else:
            new_string += letter.lower()
    return new_string

alternating_with_enumerate("hi my name is john and i am learning python")

'Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN'

# 2.Q.)

In [ ]:
# 1- Write divide_students function.
# 2- Students in double and single index will be in 2 separate lists.
# 3- But let these two lists return in a single list.
# students = ["John", "Mark", "Vanessa", "Marriam"]

In [6]:
students = ["John", "Mark", "Vanessa", "Marriam"]

def divide_students(students):
    groups = [[], []]
    for index, student in enumerate(students):
        if index % 2 == 0:
            groups[0].append(student)
        else:
            groups[1].append(student)
    return groups
divide_students(students)

[['John', 'Vanessa'], ['Mark', 'Marriam']]